* {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

.emojiSelectPopoverToneSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
    z-index: 2;
}

input[type='search'] {
    box-sizing: border-box !important;
}